<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.passengeractivity">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logotransparent"
        android:label="RIDEPAY"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/buslogo1"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".AboutUsActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ViewQrCodeActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAhlSoijXaLgEyLEVCv_hgrlM9NtWB0FUg" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:label="HistoryActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditNameActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme" /> <!-- ... other attributes ... -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>